{% extends 'base.html.twig' %}

{% block title %}Welcome to AgVoy !{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Welcome to AgVoy!</h1>

    This is the home page.
</div>
{% endblock %}
